body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
#artImage {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 600px;
}
#textInput {
  width: 300px;
  margin-bottom: 10px;
}
button {
  cursor: pointer;
}
